.navbar {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.navbar__logo {
  padding: 25px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
.navbar__location {
  display: flex;
  flex-direction: row;
  background-color: #eaeaea;
  align-items: center;
  justify-content: center;
  margin-top: 4px;
  padding: 15px;
  gap: 17.5px;
  font-size: 16px;
  font-weight: 500;
  color: #353535;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}
@media (min-width: 1024px) {
  .navbar__location {
    margin-top: 0;
    box-shadow: none;
  }
}

@keyframes loader {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(-1turn);
  }
  100% {
    transform: rotate(1turn);
  }
}
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  animation: loader 3s ease-in-out forwards;
}
.loader__content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
}
.loader__content::after {
  content: "\f2e7";
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 40px;
  position: absolute;
  color: #000000;
  animation: rotate 2.7s ease-in-out;
}

.hero {
  display: flex;
  flex-direction: column;
  padding: 40px 20px 40px 20px;
  align-items: center;
  text-align: center;
  background-color: #f6f6f6;
}
@media (min-width: 1024px) {
  .hero {
    padding: 30px 20px 30px 20px;
  }
}
.hero__title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 15px;
}
@media (min-width: 1024px) {
  .hero__title {
    font-size: 40px;
    margin-bottom: 18px;
  }
}
.hero__subtitle {
  font-size: 18px;
  font-weight: 300;
  color: #353535;
  margin-bottom: 25px;
}
.hero__btn {
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  color: white;
  border-radius: 25px;
  padding: 15px;
  border: none;
  font-size: 16px;
  font-weight: 500;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2509803922);
  opacity: 1;
  transition: opacity 0.5s, box-shadow 0.5s, transform 0.5s ease-in-out;
  cursor: pointer;
}
.hero__btn:active {
  opacity: 0.8;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.2509803922);
}
@media (min-width: 1024px) {
  .hero__btn:hover {
    opacity: 0.8;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.2509803922);
  }
}

.operation {
  display: flex;
  flex-direction: column;
  padding: 50px 30px 50px 30px;
}
@media (min-width: 1024px) {
  .operation {
    padding: 50px 180px 50px 180px;
  }
}
.operation__title {
  margin-bottom: 35px;
}
.operation__groups {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
@media (min-width: 1024px) {
  .operation__groups {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 30px;
    gap: 35px;
  }
}
.operation__steps {
  display: flex;
  position: relative;
  flex-direction: row;
  color: #000000;
  font-size: 16px;
  font-weight: 500;
  background-color: #f6f6f6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
  border-radius: 20px;
  padding: 25px 35px 25px 35px;
  align-items: center;
  gap: 20px;
}
.operation__num {
  display: flex;
  position: absolute;
  top: 50%;
  left: -3%;
  transform: translate(0, -50%);
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background-color: #9356dc;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.restaurants {
  display: flex;
  flex-direction: column;
  padding: 40px 20px 40px 20px;
  background-color: #f6f6f6;
}
.restaurants a {
  color: #000000;
}
@media (min-width: 1024px) {
  .restaurants {
    padding: 50px 180px 50px 180px;
  }
}
.restaurants__title {
  margin-bottom: 15px;
}
@media (min-width: 1024px) {
  .restaurants__title {
    margin-bottom: 28px;
  }
}
.restaurants__cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (min-width: 1024px) {
  .restaurants__cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px 100px;
  }
}
.restaurants__card {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  background-color: #ffffff;
  position: relative;
}
.restaurants img {
  width: 100%;
  height: 170px;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.restaurants__card__tag {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 15px 5px 15px;
  position: absolute;
  background-color: #99e2d0;
  color: #008766;
  font-size: 14px;
  font-weight: 500;
  top: 5%;
  right: 5%;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
  border-radius: 2px;
}
.restaurants__card__text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}
.restaurants__card__text__title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 5px;
}
.restaurants__card__text__subtitle {
  font-size: 17px;
  font-weight: 300;
}
.restaurants__card__text__like {
  padding-right: 10px;
  font-size: 20px;
  font-weight: 300;
  color: #353535;
  transition: font-weight 1s ease-in-out, color 1s ease-in-out;
}
.restaurants__card__text__like:hover {
  color: #9356dc;
  font-weight: 900;
}

.footer {
  background-color: #353535;
  padding: 25px;
}
@media (min-width: 1024px) {
  .footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
.footer__title h2 {
  margin-bottom: 10px;
  font-family: "Shrikhand";
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
}
@media (min-width: 1024px) {
  .footer__title {
    margin-left: 100px;
    margin-top: 10px;
    order: 1;
  }
}
.footer__links {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1024px) {
  .footer__links {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }
}
.footer a {
  color: #ffffff;
}
.footer__partner {
  display: flex;
  flex-direction: row;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
}
@media (min-width: 1024px) {
  .footer__partner {
    order: 3;
    margin-bottom: 0;
    margin-right: 20px;
  }
}
.footer i {
  font-size: 12px;
  margin-right: 10px;
}
.footer__legal {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
}
@media (min-width: 1024px) {
  .footer__legal {
    order: 2;
    margin-bottom: 0;
    margin-right: 20px;
  }
}
@media (min-width: 1024px) {
  .footer ul {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.navbarrestaurants {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 15px;
  position: relative;
}
.navbarrestaurants__arrow {
  position: absolute;
  left: 5%;
}
.navbarrestaurants__arrow i {
  color: #353535;
}

@keyframes fadeIn-starter {
  0% {
    opacity: 0;
    transform: translateX(40px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeIn-main {
  0% {
    opacity: 0;
    transform: translateX(-40px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeIn-dessert {
  0% {
    opacity: 0;
    transform: translateX(40px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.heroimg img {
  width: 100%;
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  z-index: -1;
}

.menu {
  z-index: 1;
  margin-top: -50px;
  background-color: #f6f6f6;
  border-radius: 40px 40px 0 0;
  padding: 40px 20px 40px 20px;
  display: flex;
  flex-direction: column;
}
.menu h2 {
  font-size: 16px;
  font-weight: 300;
  position: relative;
  margin-bottom: 20px;
}
.menu h2::after {
  content: "";
  display: block;
  width: 40px;
  height: 3px;
  background-color: #99e2d0;
  position: absolute;
  bottom: -9px;
  left: 0;
}
.menu__title {
  display: flex;
  align-items: center;
  padding-bottom: 40px;
}
.menu__title__desktop {
  display: none;
}
@media (min-width: 1024px) {
  .menu__title__desktop {
    display: flex;
    align-items: center;
  }
}
.menu__title__left {
  width: 80%;
}
@media (min-width: 1024px) {
  .menu__title__left {
    display: none;
  }
}
.menu__title__right {
  width: 20%;
}
@media (min-width: 1024px) {
  .menu__title__right {
    display: none;
  }
}
.menu__title__text {
  display: flex;
  justify-content: flex-start;
  font-family: "Shrikhand";
  font-size: 28px;
}
@media (min-width: 1024px) {
  .menu__title__text {
    justify-content: center;
  }
}
.menu__title__like {
  padding-right: 20px;
  display: flex;
  justify-content: flex-end;
  font-weight: 300;
  color: #353535;
  transition: font-weight 1s ease-in-out, color 1s ease-in-out;
}
.menu__title__like:hover {
  color: #9356dc;
  font-weight: 900;
}
@media (min-width: 1024px) {
  .menu__title__like {
    padding-left: 24px;
  }
}
@media (min-width: 1024px) {
  .menu__title {
    justify-content: center;
    margin-left: 15%;
    margin-right: 15%;
  }
}
.menu__starter {
  margin-bottom: 40px;
  opacity: 0;
  animation: fadeIn-starter 1s ease-out 0.5s forwards;
}
.menu__starter__cards {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.menu__starter__cards__card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  background-color: #ffffff;
  box-shadow: 0px 4.01px 15.04px 0px rgba(0, 0, 0, 0.1019607843);
  border-radius: 15px;
  padding: 15px 10px 15px 10px;
}
.menu__starter__cards__card__text {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.menu__starter__cards__card__text__title {
  font-size: 18px;
  font-weight: 500;
}
.menu__starter__cards__card__text__description {
  font-size: 15px;
  font-weight: 300;
}
.menu__starter__cards__card__price {
  font-size: 15px;
  font-weight: 700;
}
@media (min-width: 1024px) {
  .menu__starter {
    margin-left: 15%;
    margin-right: 15%;
  }
}
.menu__main {
  margin-bottom: 40px;
  opacity: 0;
  animation: fadeIn-main 1s ease-out 1.5s forwards;
}
.menu__main__cards {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.menu__main__cards__card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  background-color: #ffffff;
  box-shadow: 0px 4.01px 15.04px 0px rgba(0, 0, 0, 0.1019607843);
  border-radius: 15px;
  padding: 15px 10px 15px 10px;
}
.menu__main__cards__card__text {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.menu__main__cards__card__text__title {
  font-size: 18px;
  font-weight: 500;
}
.menu__main__cards__card__text__description {
  font-size: 15px;
  font-weight: 300;
}
.menu__main__cards__card__price {
  font-size: 15px;
  font-weight: 700;
}
@media (min-width: 1024px) {
  .menu__main {
    margin-left: 15%;
    margin-right: 15%;
  }
}
.menu__dessert {
  margin-bottom: 40px;
  opacity: 0;
  animation: fadeIn-dessert 1s ease-out 2.5s forwards;
}
.menu__dessert__cards {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.menu__dessert__cards__card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  background-color: #ffffff;
  box-shadow: 0px 4.01px 15.04px 0px rgba(0, 0, 0, 0.1019607843);
  border-radius: 15px;
  padding: 15px 10px 15px 10px;
}
.menu__dessert__cards__card__text {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.menu__dessert__cards__card__text__title {
  font-size: 18px;
  font-weight: 500;
}
.menu__dessert__cards__card__text__description {
  font-size: 15px;
  font-weight: 300;
}
.menu__dessert__cards__card__price {
  font-size: 15px;
  font-weight: 700;
}
@media (min-width: 1024px) {
  .menu__dessert {
    margin-left: 15%;
    margin-right: 15%;
  }
}
.menu__buttun {
  display: flex;
  justify-content: center;
}
.menu__btn {
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  color: white;
  border-radius: 25px;
  padding: 15px;
  border: none;
  font-size: 16px;
  font-weight: 500;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2509803922);
  opacity: 1;
  transition: opacity 0.5s, box-shadow 0.5s, transform 0.5s ease-in-out;
  padding: 16px 50px 16px 50px;
  cursor: pointer;
}
.menu__btn:active {
  opacity: 0.8;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.2509803922);
}
@media (min-width: 1024px) {
  .menu__btn:hover {
    opacity: 0.8;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.2509803922);
  }
}
@media (min-width: 1024px) {
  .menu {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: -30px;
  }
}
.menu article {
  position: relative;
  cursor: pointer;
}
.menu article::after {
  content: "\f058";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 24px;
  position: absolute;
  top: 50%;
  right: -10px;
  width: 20%;
  height: 100%;
  background-color: #99e2d0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 15px 15px 0;
  color: white;
  transform: translateY(-50%);
  opacity: 0;
  transition: right 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
@media (min-width: 1024px) {
  .menu article::after {
    width: 10%;
  }
}
.menu article:hover::after {
  right: 0;
  opacity: 1;
}
.menu article:hover .menu__starter__cards__card__text {
  width: 60%;
}
.menu article:hover .menu__starter__cards__card__text__title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu article:hover .menu__starter__cards__card__text__description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu article:hover .menu__starter__cards__card__price {
  padding-right: 21%;
}
.menu article:hover .menu__main__cards__card__text {
  width: 60%;
}
.menu article:hover .menu__main__cards__card__text__title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu article:hover .menu__main__cards__card__text__description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu article:hover .menu__main__cards__card__price {
  padding-right: 21%;
}
.menu article:hover .menu__dessert__cards__card__text {
  width: 60%;
}
.menu article:hover .menu__dessert__cards__card__text__title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu article:hover .menu__dessert__cards__card__text__description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu article:hover .menu__dessert__cards__card__price {
  padding-right: 21%;
}
@media (min-width: 1024px) {
  .menu article:hover::after {
    right: 0;
    opacity: 1;
  }
  .menu article:hover .menu__starter__cards__card__text {
    width: 60%;
  }
  .menu article:hover .menu__starter__cards__card__text__title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .menu article:hover .menu__starter__cards__card__text__description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .menu article:hover .menu__starter__cards__card__price {
    padding-right: 11%;
  }
  .menu article:hover .menu__main__cards__card__text {
    width: 60%;
  }
  .menu article:hover .menu__main__cards__card__text__title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .menu article:hover .menu__main__cards__card__text__description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .menu article:hover .menu__main__cards__card__price {
    padding-right: 11%;
  }
  .menu article:hover .menu__dessert__cards__card__text {
    width: 60%;
  }
  .menu article:hover .menu__dessert__cards__card__text__title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .menu article:hover .menu__dessert__cards__card__text__description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .menu article:hover .menu__dessert__cards__card__price {
    padding-right: 11%;
  }
}

* {
  font-family: "Roboto";
  margin: 0;
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

.fa-solid {
  font-size: 18px;
  color: #7e7e7e;
}
.fa-solid--primary {
  color: #9356dc;
}
.fa-solid--white {
  color: #ffffff;
}
.fa-solid--gray {
  color: #353535;
}

.fa-regular {
  font-size: 22px;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */