// Fonts
$font-title: "Shrikhand";
$font-text: "Roboto";
$font-color-black: #000000;
$font-color-gray: #353535;
$font-color-white: #ffffff;
$font-color-green: #008766;

// Colors
$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$color-i: #7e7e7e;

// Backgrounds
$bg-color-white: #ffffff;
$bg-color-gray: #eaeaea;
$bg-color-gray-light: #f6f6f6;
$bg-color-gray-dark: #353535;
$bg-color-green: #99e2d0;
$bg-btn: linear-gradient(193.33deg, $color-primary -11.44%, $color-secondary 123.93%);
