// Fonts
$font-title: 'Shrikhand';
$font-text: 'Roboto';
$font-color-black: #000000;
$font-color-gray: #353535;
$font-color-white: #FFFFFF;
$fopnt-color-green: #008766;

// Colors
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-i:#7E7E7E;

// Backgrounds
$bg-color-white: #FFFFFF;
$bg-color-gray: #EAEAEA;
$bg-color-gray-light: #F6F6F6;
$bg-color-gray-dark: #353535;
$bg-color-green: #99E2D0;
$bg-btn: linear-gradient(193.33deg, $color-primary -11.44%, $color-secondary 123.93%);