// Fonts
$font-title: 'Shrikhand';
$font-text: 'Roboto';
$font-color-grey: #353535;
$font-color-white: #FFFFFF;

// Colors
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-i:#7E7E7E;

// Backgrounds
$bg-color-white: #FFFFFF;
$bg-color-grey: #EAEAEA;
$bg-color-grey-light: #F6F6F6;