// Components
@use '../variables' as *;
@use '../mixins' as *;

.navbar {
    display: flex;
    flex-direction: column;
    text-align: center;

    &__logo {
        padding: 25px;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    }

    &__location {
        display: flex;
        flex-direction: row;
        background-color: $bg-color-gray;
        align-items: center;
        justify-content: center;
        margin-top: 4px;
        padding: 15px;
        gap: 17.5px;
        font-size: 16px;
        font-weight: 500;
        color: $font-color-gray;
        box-shadow: 0px 4px 4px 0px #00000040;

        @media (min-width: 1024px) {
            margin-top: 0;
            box-shadow: none;
            }
    }
}