// Components
@use '../variables' as *;
@use '../mixins' as *;

// Hero IMG
.heroimg img{
    width: 100%;
    height: 275px;
    object-fit: cover;
    position: relative;
    z-index: -1;
}

// Menu
.menu {
    z-index: 1;
    margin-top: -50px;
    background-color: $bg-color-gray-light;
    border-radius: 40px 40px 0 0;
    padding: 40px 20px 40px 20px;
    display: flex;
    flex-direction: column;


    h2 {
        font-size: 16px;
        font-weight: 300;
        position: relative;
        margin-bottom: 20px;

        &::after {
            content: "";
            display: block;
            width: 40px;
            height: 3px;
            background-color: $color-tertiary;
            position: absolute;
            bottom: -9px;
            left: 0;
        }
    }

    &__title {
        display: flex;
        justify-content: left;
        align-items: center;
        padding-bottom: 40px;
        position: relative;

        &__text {
            font-family: $font-title;
            font-size: 28px;
        }

        &__like {
            position: absolute;
            right: 5%;

            @media (min-width: 1024px) {
                position: static;
                margin-left: 5%;
                }
        }

        @media (min-width: 1024px) {
            margin-left: 15%;
            margin-right: 15%;
            justify-content: center;
            position: static;
            }
    }

    &__starter {
        margin-bottom: 40px;

        &__cards {
            display: flex;
            flex-direction: column;
            gap: 12px;

            &__card {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: end;
                background-color: $bg-color-white;
                box-shadow: 0px 4.01px 15.04px 0px #0000001A;
                border-radius: 15px;
                padding: 15px;

                &__text {
                    display: flex;
                    flex-direction: column ;
                    gap: 7px;

                    &__title {
                        font-size: 18px;
                        font-weight: 500;
                    }

                    &__description {
                        font-size: 15px;
                        font-weight: 300;
                    }
                }

                &__price {
                    font-size: 15px;
                    font-weight: 700;
                }
            }
        }

        @media (min-width: 1024px) {
            margin-left: 15%;
            margin-right: 15%;
            }
    }

    &__main {
        margin-bottom: 40px;

        &__cards {
            display: flex;
            flex-direction: column;
            gap: 12px;

            &__card {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: end;
                background-color: $bg-color-white;
                box-shadow: 0px 4.01px 15.04px 0px #0000001A;
                border-radius: 15px;
                padding: 15px;

                &__text {
                    display: flex;
                    flex-direction: column ;
                    gap: 7px;

                    &__title {
                        font-size: 18px;
                        font-weight: 500;
                    }

                    &__description {
                        font-size: 15px;
                        font-weight: 300;
                    }
                }

                &__price {
                    font-size: 15px;
                    font-weight: 700;
                }
            }
        }

        @media (min-width: 1024px) {
            margin-left: 15%;
            margin-right: 15%;
            }
    }
    
    &__dessert {
        margin-bottom: 40px;

        &__cards {
            display: flex;
            flex-direction: column;
            gap: 12px;

            &__card {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: end;
                background-color: $bg-color-white;
                box-shadow: 0px 4.01px 15.04px 0px #0000001A;
                border-radius: 15px;
                padding: 15px;

                &__text {
                    display: flex;
                    flex-direction: column ;
                    gap: 7px;

                    &__title {
                        font-size: 18px;
                        font-weight: 500;
                    }

                    &__description {
                        font-size: 15px;
                        font-weight: 300;
                    }
                }

                &__price {
                    font-size: 15px;
                    font-weight: 700;
                }
            }
        }

        @media (min-width: 1024px) {
            margin-left: 15%;
            margin-right: 15%;
            }
    } 
    
    &__buttun {
        display: flex;
        justify-content: center;
    }
    
    &__btn {
        @include btn-primary;
        padding: 16px 50px 16px 50px;
        cursor: pointer;
    }

    @media (min-width: 1024px) {
        margin-left: 15%;
        margin-right: 15%;
        margin-top: -30px;
        }
}